
body {
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
    text-align: center;
    /* border: 3px solid; */
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    padding: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-image: url(assets/background.jpg);
    width: 70%;
}


.display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    color: white;
}

.breakDisplay {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    color: white;
}


button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 1rem;
    min-width: 125px;
    border: black;
    border-radius: 1rem;
    color: white;
    transition: all ease 0.5s;
    box-shadow: 4px 4px 5rem rgba(0, 0, 0, 0.3);
}

.button-start {
    background-color: rgba(0, 205, 27, 0.5);
}
.button-pause {
    background-color: rgba(202, 192, 0, 0.5);
}
.button-reset {
    background-color: rgb(224, 0, 0, 0.5);
}

button:hover {
    background-color: white;
    color: black;
}

.template-button {
    background-color: transparent;
}

.setTimeContainer {

    label {
        margin: 0.5rem;
    }
    
    input {
        background: transparent;
        padding: 1em;
        border: none;
        border-radius: 0.5rem;
        backdrop-filter: blur(0.5rem);
        box-shadow: 4px 4px 5rem rgba(0, 0, 0, 0.5);
        max-width: 3rem;

        &:focus {
            outline: none;
        }
    }
}